
<div class="currency-convertor">
    <form [formGroup]="exchangeForm" (submit)="ratesConvert()">
        <input type="number"  formControlName="exchangeAmount" class="exchange-amount">
        <div class="from-dropdown">
            <label>From</label>
            <div>
                <!-- logic && operator -->
                <div *ngIf="currencies.length>0; else currencyNotLoaded ">
                    <select formControlName="fromCurrency" class="from-currency">
                        <option *ngFor="let currency of currencies" [value]="currency" >{{currency}}</option>
                    </select>
                </div>
                <ng-template #currencyNotLoaded>
                    Something went wrong
                </ng-template>
            </div>
        </div>
        <div class="switch-currency">
            <button class="switch-currencies"  (click)="switchCurrencies($event)" ><= Switch =></button>
        </div>
        <div class="to-dropdown">
            <label>To</label>
            <div>
                <!-- logic && operator -->
                <div *ngIf="currencies.length>0; else currencyNotLoaded ">
                    <select formControlName="toCurrency" class="to-currency">
                        <option *ngFor="let currency of currencies" [value]="currency" >{{currency}}</option>
                    </select>
                </div>
                <ng-template #currencyNotLoaded>
                    Something went wrong
                </ng-template>
            </div>
        </div>
        
        <div class="submit-btn">
            <button type="submit">Convert</button>
        </div>
        <div class="result">
            {{ exchangeRate | number : '1.2-2' }} {{ f()['toCurrency'] }}
        </div>
        <div class="submit-btn">
            <button type="submit" (click)="redirectToDetialesPage($event)">More detiales</button>
        </div>
    </form>
</div>