<div class="more-details-page">
    <app-header></app-header>
    <hr>
    <div class="row">
        <div class="col-md-8"><h1>{{ fromCurrency }} - {{ currencyFullName }}</h1></div>
        <div class="col-md-4"><button class="btn btn-primary btn-sm" (click)="backToHomePage($event)">Back to Home</button></div>
    </div>
    <hr>
    <app-currency-convertor [isHomePage]="false" [urlParams]="urlParams" (addToHistory)="onAddToHistory($event)" ></app-currency-convertor>
    <app-historical-rates-chart [urlParams]="urlParams" ></app-historical-rates-chart>
</div> 